@import '../../Common/variables.scss';

.FitHome {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $FitBlack;

  &__image {
    width: 50%;
    height: auto;
  }
}