@import '../../../Common/variables.scss';

.FitSignin {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .FitInput {
      margin: 0.5em 0;
      border: 1px solid $FitGrey !important;
      border-radius: 10px;
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--button {
      margin: 0.5em 0;
      border-color: $FitLightBlue !important;
    }
  }

}